# Data
data/**
!data/README.md

# Environnements
.env
.env.*
.venv/
__pycache__/
*.pyc
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/test*.ipynb

# Outils
.pytest_cache/
.ruff_cache/
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

src/__init__.py
src/data/__init__.py
tests/__init__.py
ci-requirements.txt
