# Data
data/**
!data/README.md

# Environnements
.env
.venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/test.ipynb

# System
.DS_Store
Thumbs.db

src/__init__.py
src/data/__init__.py
tests/__init__.py
